openapi: 3.0.0
info:
  title: Avalanche Platform Chain API
  description: >-
    JSON-RPC 2.0 API for interacting with Avalanche's Platform Chain (P-Chain). All methods use POST to the same
    endpoint with the method specified in the request body.
  version: 1.0.0
servers:
  - url: https://api.avax.network
    description: Mainnet
  - url: https://api.avax-test.network
    description: Testnet
paths:
  /ext/bc/P#platform.getHeight:
    post:
      summary: platform.getHeight
      description: GetHeight returns the height of the last accepted block
      operationId: platform_getHeight
      tags:
        - Chain Info
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getHeight
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getHeight
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getProposedHeight:
    post:
      summary: platform.getProposedHeight
      description: GetProposedHeight returns the current ProposerVM height
      operationId: platform_getProposedHeight
      tags:
        - Chain Info
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getProposedHeight
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getProposedHeight
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getBalance:
    post:
      summary: platform.getBalance
      description: GetBalance gets the balance of an address
      operationId: platform_getBalance
      tags:
        - Balances & UTXOs
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getBalance
                params:
                  $ref: '#/components/schemas/GetBalanceRequest'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getBalance
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetBalanceResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getUTXOs:
    post:
      summary: platform.getUTXOs
      description: GetUTXOs returns the UTXOs controlled by the given addresses
      operationId: platform_getUTXOs
      tags:
        - Balances & UTXOs
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getUTXOs
                params:
                  type: object
                  properties:
                    addresses:
                      type: array
                      items:
                        type: string
                      description: Addresses to get UTXOs for
                    limit:
                      type: integer
                      description: Max number of UTXOs to return
                    startIndex:
                      type: object
                      description: Starting index for pagination
                    sourceChain:
                      type: string
                      description: Chain to get UTXOs from
                    encoding:
                      type: string
                      enum:
                        - hex
                        - json
                      description: Encoding format
                  required:
                    - addresses
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getUTXOs
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    properties:
                      numFetched:
                        type: integer
                        description: Number of UTXOs fetched
                      utxos:
                        type: array
                        items:
                          type: string
                        description: UTXOs
                      endIndex:
                        type: object
                        description: End index for pagination
                      encoding:
                        type: string
                        description: Encoding format used
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getSubnet:
    post:
      summary: platform.getSubnet
      description: Calls the platform.getSubnet method
      operationId: platform_getSubnet
      tags:
        - Subnets
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getSubnet
                params:
                  $ref: '#/components/schemas/GetSubnetArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getSubnet
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetSubnetResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getSubnets:
    post:
      summary: platform.getSubnets
      description: GetSubnets returns the subnets whose ID are in [args.IDs] The response will include the primary network
      operationId: platform_getSubnets
      tags:
        - Subnets
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getSubnets
                params:
                  $ref: '#/components/schemas/GetSubnetsArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getSubnets
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetSubnetsResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getStakingAssetID:
    post:
      summary: platform.getStakingAssetID
      description: GetStakingAssetID returns the assetID of the token used to stake on the provided subnet
      operationId: platform_getStakingAssetID
      tags:
        - Subnets
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getStakingAssetID
                params:
                  $ref: '#/components/schemas/GetStakingAssetIDArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getStakingAssetID
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetStakingAssetIDResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getCurrentValidators:
    post:
      summary: platform.getCurrentValidators
      description: >-
        GetCurrentValidators returns the current validators. If a single nodeID is provided, full delegators information
        is also returned. Otherwise only delegators' number and total weight is returned.
      operationId: platform_getCurrentValidators
      tags:
        - Validators
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getCurrentValidators
                params:
                  $ref: '#/components/schemas/GetCurrentValidatorsArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getCurrentValidators
                  params:
                    subnetID: 2Ypm6RVhddu5Ps8DEbb35Y1PgX4uXE76yyxn6JMhnZy8ftAFLW
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetCurrentValidatorsReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getL1Validator:
    post:
      summary: platform.getL1Validator
      description: GetL1Validator returns the L1 validator if it exists
      operationId: platform_getL1Validator
      tags:
        - Validators
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getL1Validator
                params:
                  $ref: '#/components/schemas/GetL1ValidatorArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getL1Validator
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetL1ValidatorReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getCurrentSupply:
    post:
      summary: platform.getCurrentSupply
      description: GetCurrentSupply returns an upper bound on the supply of AVAX in the system
      operationId: platform_getCurrentSupply
      tags:
        - Chain Info
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getCurrentSupply
                params:
                  $ref: '#/components/schemas/GetCurrentSupplyArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getCurrentSupply
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetCurrentSupplyReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.sampleValidators:
    post:
      summary: platform.sampleValidators
      description: SampleValidators returns a sampling of the list of current validators
      operationId: platform_sampleValidators
      tags:
        - Validators
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.sampleValidators
                params:
                  $ref: '#/components/schemas/SampleValidatorsArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.sampleValidators
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/SampleValidatorsReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getBlockchainStatus:
    post:
      summary: platform.getBlockchainStatus
      description: GetBlockchainStatus gets the status of a blockchain with the ID [args.BlockchainID].
      operationId: platform_getBlockchainStatus
      tags:
        - Blockchains
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getBlockchainStatus
                params:
                  $ref: '#/components/schemas/GetBlockchainStatusArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getBlockchainStatus
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetBlockchainStatusReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.validatedBy:
    post:
      summary: platform.validatedBy
      description: ValidatedBy returns the ID of the Subnet that validates [args.BlockchainID]
      operationId: platform_validatedBy
      tags:
        - Blockchains
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.validatedBy
                params:
                  $ref: '#/components/schemas/ValidatedByArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.validatedBy
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/ValidatedByResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.validates:
    post:
      summary: platform.validates
      description: Validates returns the IDs of the blockchains validated by [args.SubnetID]
      operationId: platform_validates
      tags:
        - Blockchains
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.validates
                params:
                  $ref: '#/components/schemas/ValidatesArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.validates
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/ValidatesResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getBlockchains:
    post:
      summary: platform.getBlockchains
      description: GetBlockchains returns all of the blockchains that exist
      operationId: platform_getBlockchains
      tags:
        - Blockchains
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getBlockchains
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getBlockchains
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetBlockchainsResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.issueTx:
    post:
      summary: platform.issueTx
      description: Calls the platform.issueTx method
      operationId: platform_issueTx
      tags:
        - Transactions
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.issueTx
                params:
                  type: object
                  properties:
                    tx:
                      type: string
                      description: Serialized transaction
                    encoding:
                      type: string
                      enum:
                        - hex
                        - json
                      description: Encoding format
                  required:
                    - tx
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.issueTx
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getTx:
    post:
      summary: platform.getTx
      description: Calls the platform.getTx method
      operationId: platform_getTx
      tags:
        - Transactions
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getTx
                params:
                  type: object
                  properties:
                    txID:
                      type: string
                      description: Transaction ID
                    encoding:
                      type: string
                      enum:
                        - hex
                        - json
                      description: Encoding format
                  required:
                    - txID
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getTx
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getTxStatus:
    post:
      summary: platform.getTxStatus
      description: GetTxStatus gets a tx's status
      operationId: platform_getTxStatus
      tags:
        - Transactions
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getTxStatus
                params:
                  $ref: '#/components/schemas/GetTxStatusArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getTxStatus
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetTxStatusResponse'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getStake:
    post:
      summary: platform.getStake
      description: >-
        GetStake returns the amount of nAVAX that [args.Addresses] have cumulatively staked on the Primary Network. This
        method assumes that each stake output has only owner This method assumes only AVAX can be staked This method
        only concerns itself with the Primary Network, not subnets TODO: Improve the performance of this method by
        maintaining this data in a data structure rather than re-calculating it by iterating over stakers
      operationId: platform_getStake
      tags:
        - Staking
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getStake
                params:
                  $ref: '#/components/schemas/GetStakeArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getStake
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetStakeReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getMinStake:
    post:
      summary: platform.getMinStake
      description: GetMinStake returns the minimum staking amount in nAVAX.
      operationId: platform_getMinStake
      tags:
        - Staking
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getMinStake
                params:
                  $ref: '#/components/schemas/GetMinStakeArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getMinStake
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetMinStakeReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getTotalStake:
    post:
      summary: platform.getTotalStake
      description: GetTotalStake returns the total amount staked on the Primary Network
      operationId: platform_getTotalStake
      tags:
        - Staking
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getTotalStake
                params:
                  $ref: '#/components/schemas/GetTotalStakeArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getTotalStake
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetTotalStakeReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getRewardUTXOs:
    post:
      summary: platform.getRewardUTXOs
      description: GetRewardUTXOs returns the UTXOs that were rewarded after the provided transaction's staking period ended.
      operationId: platform_getRewardUTXOs
      tags:
        - Rewards
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getRewardUTXOs
                params:
                  type: object
                  properties:
                    txID:
                      type: string
                      description: Transaction ID
                    encoding:
                      type: string
                      enum:
                        - hex
                        - json
                      description: Encoding format
                  required:
                    - txID
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getRewardUTXOs
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetRewardUTXOsReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getTimestamp:
    post:
      summary: platform.getTimestamp
      description: GetTimestamp returns the current timestamp on chain.
      operationId: platform_getTimestamp
      tags:
        - Chain Info
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getTimestamp
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getTimestamp
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetTimestampReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getValidatorsAt:
    post:
      summary: platform.getValidatorsAt
      description: GetValidatorsAt returns the weights of the validator set of a provided subnet at the specified height.
      operationId: platform_getValidatorsAt
      tags:
        - Validators
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getValidatorsAt
                params:
                  $ref: '#/components/schemas/GetValidatorsAtArgs'
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getValidatorsAt
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetValidatorsAtReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getBlock:
    post:
      summary: platform.getBlock
      description: Calls the platform.getBlock method
      operationId: platform_getBlock
      tags:
        - Blocks
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getBlock
                params:
                  type: object
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getBlock
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    properties:
                      block:
                        type: string
                        description: Encoded block data
                      encoding:
                        type: string
                        description: Encoding format used
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getBlockByHeight:
    post:
      summary: platform.getBlockByHeight
      description: GetBlockByHeight returns the block at the given height.
      operationId: platform_getBlockByHeight
      tags:
        - Blocks
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getBlockByHeight
                params:
                  type: object
                  properties:
                    height:
                      type: integer
                      description: Block height
                    encoding:
                      type: string
                      enum:
                        - hex
                        - json
                      description: Encoding format
                  required:
                    - height
                  description: Method parameters
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getBlockByHeight
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    properties:
                      block:
                        type: string
                        description: Encoded block data
                      encoding:
                        type: string
                        description: Encoding format used
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getFeeConfig:
    post:
      summary: platform.getFeeConfig
      description: GetFeeConfig returns the dynamic fee config of the chain.
      operationId: platform_getFeeConfig
      tags:
        - Fees
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getFeeConfig
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getFeeConfig
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                    properties:
                      maxGas:
                        type: integer
                        description: Maximum gas limit
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getFeeState:
    post:
      summary: platform.getFeeState
      description: GetFeeState returns the current fee state of the chain.
      operationId: platform_getFeeState
      tags:
        - Fees
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getFeeState
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getFeeState
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetFeeStateReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getValidatorFeeConfig:
    post:
      summary: platform.getValidatorFeeConfig
      description: GetValidatorFeeConfig returns the validator fee config of the chain.
      operationId: platform_getValidatorFeeConfig
      tags:
        - Fees
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getValidatorFeeConfig
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getValidatorFeeConfig
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    type: object
                    description: Method result
                    properties:
                      minPrice:
                        type: integer
                        description: Minimum gas price
                      maxPrice:
                        type: integer
                        description: Maximum gas price
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
  /ext/bc/P#platform.getValidatorFeeState:
    post:
      summary: platform.getValidatorFeeState
      description: GetValidatorFeeState returns the current validator fee state of the chain.
      operationId: platform_getValidatorFeeState
      tags:
        - Fees
      requestBody:
        required: true
        description: JSON-RPC request
        content:
          application/json:
            schema:
              type: object
              properties:
                jsonrpc:
                  type: string
                  example: '2.0'
                method:
                  type: string
                  example: platform.getValidatorFeeState
                params:
                  type: object
                  example: {}
                id:
                  type: integer
                  example: 1
              required:
                - jsonrpc
                - method
                - params
                - id
            examples:
              default:
                summary: Example request
                value:
                  jsonrpc: '2.0'
                  method: platform.getValidatorFeeState
                  params: {}
                  id: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  jsonrpc:
                    type: string
                    example: '2.0'
                  result:
                    $ref: '#/components/schemas/GetValidatorFeeStateReply'
                    description: Method result
                  id:
                    type: integer
                    example: 1
                required:
                  - jsonrpc
                  - result
                  - id
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JSONRPCError'
components:
  schemas:
    JSONRPCRequest:
      type: object
      description: JSON-RPC 2.0 Request
      properties:
        jsonrpc:
          type: string
          example: '2.0'
          description: JSON-RPC version
        method:
          type: string
          description: The method to call
        params:
          type: object
          description: Method parameters
        id:
          type: integer
          example: 1
          description: Request ID
      required:
        - jsonrpc
        - method
        - params
        - id
    JSONRPCResponse:
      type: object
      description: JSON-RPC 2.0 Response
      properties:
        jsonrpc:
          type: string
          example: '2.0'
          description: JSON-RPC version
        result:
          type: object
          description: The result of the method call
        error:
          type: object
          description: Error object if the request failed
          properties:
            code:
              type: integer
              description: Error code
            message:
              type: string
              description: Error message
            data:
              type: object
              description: Additional error data
          required:
            - code
            - message
        id:
          type: integer
          example: 1
          description: Request ID
      required:
        - jsonrpc
        - id
    JSONRPCError:
      type: object
      description: JSON-RPC 2.0 Error Response
      properties:
        jsonrpc:
          type: string
          example: '2.0'
        error:
          type: object
          properties:
            code:
              type: integer
              description: Error code
            message:
              type: string
              description: Error message
            data:
              type: object
              description: Additional error data
          required:
            - code
            - message
        id:
          type: integer
          example: 1
      required:
        - jsonrpc
        - error
        - id
    Service:
      type: object
      properties: {}
    GetBalanceRequest:
      type: object
      properties:
        addresses:
          type: array
          items:
            type: string
      required:
        - addresses
    GetBalanceResponse:
      type: object
      properties:
        balance:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        unlocked:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        lockedStakeable:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        lockedNotStakeable:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        balances:
          type: object
          additionalProperties: true
          description: Map of ids.ID to avajson.Uint64
        unlockeds:
          type: object
          additionalProperties: true
          description: Map of ids.ID to avajson.Uint64
        lockedStakeables:
          type: object
          additionalProperties: true
          description: Map of ids.ID to avajson.Uint64
        lockedNotStakeables:
          type: object
          additionalProperties: true
          description: Map of ids.ID to avajson.Uint64
        utxoIDs:
          type: array
          items:
            type: object
            description: UTXO ID object
            additionalProperties: true
      required:
        - balance
        - unlocked
        - lockedStakeable
        - lockedNotStakeable
        - balances
        - unlockeds
        - lockedStakeables
        - lockedNotStakeables
        - utxoIDs
    Index:
      type: object
      properties:
        address:
          type: string
          description: The address as a string
        utxo:
          type: string
          description: The UTXO ID as a string
      required:
        - address
        - utxo
    GetSubnetArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    GetSubnetResponse:
      type: object
      properties:
        isPermissioned:
          type: boolean
        controlKeys:
          type: array
          items:
            type: string
        threshold:
          type: string
          description: Unsigned 32-bit integer as string
          example: '100000'
        locktime:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        subnetTransformationTxID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        conversionID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        managerChainID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        managerAddress:
          type: object
          description: Manager address as byte array
          additionalProperties: true
      required:
        - isPermissioned
        - controlKeys
        - threshold
        - locktime
        - subnetTransformationTxID
        - conversionID
        - managerChainID
        - managerAddress
    APISubnet:
      type: object
      properties:
        id:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        controlKeys:
          type: array
          items:
            type: string
        threshold:
          type: string
          description: Unsigned 32-bit integer as string
          example: '100000'
      required:
        - id
        - controlKeys
        - threshold
    GetSubnetsArgs:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            description: Avalanche ID in cb58 format
            example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - ids
    GetSubnetsResponse:
      type: object
      properties:
        subnets:
          type: array
          items:
            $ref: '#/components/schemas/APISubnet'
      required:
        - subnets
    GetStakingAssetIDArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    GetStakingAssetIDResponse:
      type: object
      properties:
        assetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - assetID
    GetCurrentValidatorsArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Subnet ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        nodeIDs:
          type: array
          items:
            type: string
          description: Array of node IDs to filter validators
          example: ["NodeID-111111111111111111116DBWJs"]
      required:
        - subnetID
    GetCurrentValidatorsReply:
      type: object
      properties:
        validators:
          type: array
          items:
            type: object
            description: Validator information
      required:
        - validators
    GetL1ValidatorArgs:
      type: object
      properties:
        validationID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - validationID
    GetL1ValidatorReply:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        height:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
      required:
        - subnetID
        - height
    GetCurrentSupplyArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    GetCurrentSupplyReply:
      type: object
      properties:
        supply:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        height:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
      required:
        - supply
        - height
    SampleValidatorsArgs:
      type: object
      properties:
        size:
          type: integer
          description: Sample size (unsigned 16-bit integer)
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - size
        - subnetID
    SampleValidatorsReply:
      type: object
      properties:
        validators:
          type: array
          items:
            type: string
            description: Avalanche Node ID in cb58 format
            example: NodeID-111111111111111111116DBWJs
      required:
        - validators
    GetBlockchainStatusArgs:
      type: object
      properties:
        blockchainID:
          type: string
      required:
        - blockchainID
    GetBlockchainStatusReply:
      type: object
      properties:
        status:
          type: string
          description: Blockchain status (e.g., Validating, Created, Preferred)
      required:
        - status
    ValidatedByArgs:
      type: object
      properties:
        blockchainID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - blockchainID
    ValidatedByResponse:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    ValidatesArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    ValidatesResponse:
      type: object
      properties:
        blockchainIDs:
          type: array
          items:
            type: string
            description: Avalanche ID in cb58 format
            example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - blockchainIDs
    APIBlockchain:
      type: object
      properties:
        id:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        name:
          type: string
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
        vmID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - id
        - name
        - subnetID
        - vmID
    GetBlockchainsResponse:
      type: object
      properties:
        blockchains:
          type: array
          items:
            $ref: '#/components/schemas/APIBlockchain'
      required:
        - blockchains
    GetTxStatusArgs:
      type: object
      properties:
        txID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - txID
    GetTxStatusResponse:
      type: object
      properties:
        status:
          type: string
          description: Transaction status
        reason:
          type: string
      required:
        - status
    GetStakeArgs:
      type: object
      properties:
        validatorsOnly:
          type: boolean
        encoding:
          type: string
          enum:
            - hex
            - json
          description: Encoding format
          example: hex
      required:
        - validatorsOnly
        - encoding
    GetStakeReply:
      type: object
      properties:
        staked:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        stakeds:
          type: object
          additionalProperties: true
          description: Map of ids.ID to avajson.Uint64
        stakedOutputs:
          type: array
          items:
            type: string
        encoding:
          type: string
          enum:
            - hex
            - json
          description: Encoding format
          example: hex
      required:
        - staked
        - stakeds
        - stakedOutputs
        - encoding
    GetMinStakeArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    GetMinStakeReply:
      type: object
      properties:
        minValidatorStake:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        minDelegatorStake:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
      required:
        - minValidatorStake
        - minDelegatorStake
    GetTotalStakeArgs:
      type: object
      properties:
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - subnetID
    GetTotalStakeReply:
      type: object
      properties:
        stake:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        weight:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
      required:
        - stake
        - weight
    GetRewardUTXOsReply:
      type: object
      properties:
        numFetched:
          type: string
          description: Unsigned 64-bit integer as string
          example: '1000000000'
        utxos:
          type: array
          items:
            type: string
        encoding:
          type: string
          enum:
            - hex
            - json
          description: Encoding format
          example: hex
      required:
        - numFetched
        - utxos
        - encoding
    GetTimestampReply:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
      required:
        - timestamp
    GetValidatorsAtArgs:
      type: object
      properties:
        height:
          type: integer
          description: Block height
        subnetID:
          type: string
          description: Avalanche ID in cb58 format
          example: 2oYMBNV4eNHyqk2fjjV5nVQLDbtmNJzq5s3qs3Lo6ftnC6FByM
      required:
        - height
        - subnetID
    GetValidatorsAtReply:
      type: object
      properties:
        Validators:
          type: object
          additionalProperties: true
          description: Map of ids.NodeID to *validators.GetValidatorOutput
      required:
        - Validators
    GetFeeStateReply:
      type: object
      properties:
        price:
          type: string
          description: Gas price as string
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
      required:
        - price
        - timestamp
    GetValidatorFeeStateReply:
      type: object
      properties:
        excess:
          type: string
          description: Gas amount as string
        price:
          type: string
          description: Gas price as string
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
      required:
        - excess
        - price
        - timestamp
