openapi: "3.1.0"
info:
  title: "Data, Metrics, and Webhooks API"
  description: "The Avalanche API suite offers powerful tools for real-time and historical blockchain data. The Webhooks API enables instant monitoring of on-chain events, including smart contract activity, NFT transfers, and wallet transactions, with customizable filters and secure notifications. The Metrics API (Beta) provides analytics on blockchain activity, while the Data API (Beta) delivers multi-chain data for Avalanche and Ethereum, including transaction history, token balances, and metadata. These APIs empower developers to build dynamic web3 applications with real-time insights and seamless integration."
  contact: {}
  version: "1.0.0"
paths:
  "/v2/health-check":
    get:
      tags:
        - "Health Check"
      summary: "Get the health of the service"
      description: "Check the health of the service."
      operationId: "metrics-health-check"
      responses:
        "200":
          description: "The health of the service"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HealthCheckResultDto"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "healthCheck"
      x-execution-weight: "free"
      x-speakeasy-group: "metrics"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.healthCheck();

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.healthCheck();

              console.log(result);
            }

            run();
  "/v2/live-check":
    get:
      tags:
        - "Health Check"
      summary: "Get the liveliness of the service"
      description: "Check the liveliness of the service."
      operationId: "metrics-live-check"
      responses:
        "200":
          description: "The liveliness of the service"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/HealthCheckResultDto"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "liveCheck"
      x-execution-weight: "free"
      x-speakeasy-group: "metrics"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.liveCheck();

              console.log(result);
            }

            run();
  "/v2/chains":
    get:
      tags:
        - "EVM Chains"
      summary: "Get a list of supported blockchains"
      description: "Get a list of Metrics API supported blockchains.  This endpoint is paginated and supports a maximum page size of 10000."
      operationId: "listChains"
      parameters:
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "network"
          in: "query"
          description: "Either mainnet or testnet/fuji."
          required: false
          schema: {"$ref": "#/components/schemas/Network"}
          example: "mainnet"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsListChainsResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "list"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      x-execution-weight: "free"
      x-speakeasy-group: "metrics.chains"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.list({
                network: "mainnet",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.list({
                network: "mainnet",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/chains/{chainId}":
    get:
      tags:
        - "EVM Chains"
      summary: "Get chain information for supported blockchain"
      description: "Get chain information for Metrics API supported blockchain."
      operationId: "getChain"
      parameters:
        - name: "chainId"
          in: "path"
          description: "A supported evm chain id. Use the `/chains` endpoint to get a list of supported chain ids."
          required: true
          schema:
            type: "string"
          example: "43114"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Chain"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "get"
      x-execution-weight: "free"
      x-speakeasy-group: "metrics.chains"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.get({});

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.get({});

              console.log(result);
            }

            run();
  "/v2/chains/{chainId}/metrics/{metric}":
    get:
      tags:
        - "Chain Metrics"
      summary: "Get metrics for EVM chains"
      description: "EVM chain metrics are available for all Avalanche L1s on _Mainnet_ and _Fuji_ (testnet). You can request metrics by EVM chain ID. See the `/chains` endpoint for all supported chains.\n\nAll metrics are updated several times every hour. Each metric data point has a `value` and `timestamp` (Unix timestamp in seconds). All metric values include data within the duration of the associated timestamp plus the requested `timeInterval`. All timestamps are fixed to the hour. When requesting a timeInterval of **day**, **week**, or **month**, the timestamp will be 0:00 UTC of the day, Monday of the week, or first day of the month, respectively. The latest data point in any response may change on each update.\n\n### Metrics\n\n<ins>activeAddresses</ins>: The number of distinct addresses seen within the selected `timeInterval` starting at the timestamp. Addresses counted are those that appear in the “from” and “to” fields of a transaction or ERC20/ERC721/ERC1155 transfer log event.\n\n<ins>activeSenders</ins>: This metric follows the same structure as activeAddresses, but instead only counts addresses that appear in the “from” field of the respective transaction or transfer log event.\n\n<ins>cumulativeTxCount</ins>: The cumulative transaction count from genesis up until 24 hours after the timestamp. This aggregation can be considered a “rolling sum” of the transaction count metric (txCount). Only `timeInterval=day` supported.\n\n<ins>cumulativeAddresses</ins>: The cumulative count of unique addresses from genesis up until 24 hours after the timestamp. Addresses counted are those that appear in the “from” and “to” fields of a transaction or ERC20/ERC721/ERC1155 transfer log event. Only `timeInterval=day` supported.\n\n<ins>cumulativeContracts</ins>: The cumulative count of contracts created from genesis up until the timestamp.  Contracts are counted by looking for the CREATE, CREATE2, and CREATE3 call types in all transaction traces (aka internal transactions). Only `timeInterval=day` supported.\n\n<ins>cumulativeDeployers</ins>: The cumulative count of unique contract deployers from genesis up until 24 hours after the timestamp. Deployers counted are those that appear in the “from” field of transaction traces with the CREATE, CREATE2, and CREATE3 call types. Only `timeInterval=day` supported.\n\n<ins>contracts</ins>: The count of contracts created within the requested timeInterval starting at the timestamp. Contracts are counted by looking for the CREATE, CREATE2, and CREATE3 call types in all transaction traces (aka internal transactions). Only `timeInterval=day` supported.\n\n<ins>deployers</ins>: The count of unique deployers within the requested timeInterval starting at the timestamp. Deployers counted are those that appear in the “from” field of transaction traces with the CREATE, CREATE2, and CREATE3 call types. Only `timeInterval=day` supported.\n\n<ins>gasUsed</ins>: The amount of gas used by transactions within the requested timeInterval starting at the timestamp.\n\n<ins>txCount</ins>: The amount of transactions within the requested timeInterval starting at the timestamp.\n\n<ins>avgGps</ins>: The average Gas used Per Second (GPS) within the day beginning at the timestamp.  The average is calculated by taking the sum of gas used by all blocks within the day and dividing it by the time interval between the last block of the previous day and the last block of the day that begins at the timestamp.  Only `timeInterval=day` supported.\n\n<ins>maxGps</ins>: The max Gas used Per Second (GPS)  measured within the day beginning at the timestamp. Each GPS data point is calculated using the gas used in a single block divided by the time since the last block. Only `timeInterval=day` supported.\n\n<ins>avgTps</ins>: The average Transactions Per Second (TPS) within the day beginning at the timestamp. The average is calculated by taking the sum of transactions within the day and dividing it by the time interval between the last block of the previous day and the last block of the day that begins at the timestamp. Only `timeInterval=day` supported.\n\n<ins>maxTps</ins>: The max Transactions Per Second (TPS) measured within the day beginning at the timestamp. Each TPS data point is calculated by taking the number of transactions in a single block and dividing it by the time since the last block. Only `timeInterval=day` supported.\n\n<ins>avgGasPrice</ins>: The average gas price within the day beginning at the timestamp. The gas price used is the price reported in transaction receipts. Only `timeInterval=day` supported.\n\n<ins>maxGasPrice</ins>: The max gas price seen within the day beginning at the timestamp. The gas price used is the price reported in transaction receipts. Only `timeInterval=day` supported.\n\n<ins>feesPaid</ins>: The sum of transaction fees paid within the day beginning at the timestamp. The fee is calculated as the gas used multiplied by the gas price as reported in all transaction receipts. Only `timeInterval=day` supported."
      operationId: "getEvmChainMetrics"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which chain level metric to fetch."
          required: true
          schema: {"$ref": "#/components/schemas/ChainMetric"}
          example: "activeAddresses"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "timeInterval"
          in: "query"
          description: "Time interval granularity for data aggregation. Metrics\n    prefixed with \"cumulative\", \"max\", or \"avg\" only support timeInterval equal\n    to \"day\"."
          required: false
          schema: {"$ref": "#/components/schemas/TimeIntervalGranularity"}
          example: "day"
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160."
          required: false
          schema:
            type: "integer"
            maximum: 2160
            minimum: 1
            default: 100
          example: "10"
        - name: "chainId"
          in: "path"
          description: "A supported EVM chain ID or one of \"total\", \"mainnet\", or \"testnet\". Use the `/chains` endpoint to get a list of supported chain IDs."
          required: true
          schema:
            type: "string"
          example: "43114"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "getMetrics"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.getMetrics({
                metric: "activeAddresses",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                timeInterval: "day",
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.getMetrics({
                metric: "activeAddresses",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                timeInterval: "day",
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/chains/{chainId}/rollingWindowMetrics/{metric}":
    get:
      tags:
        - "Chain Metrics"
      summary: "Get rolling window metrics for EVM chains"
      description: "Gets the rolling window metrics for an EVM chain for the last hour, day, week, month, 90 days, year, and all time. Active addresses/active senders only support last hour, day, and week."
      operationId: "getEvmChainRollingWindowMetrics"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which chain level metric to fetch for the rolling window."
          required: true
          schema: {"$ref": "#/components/schemas/ChainRollingWindowMetric"}
          example: "txCount"
        - name: "chainId"
          in: "path"
          description: "A supported EVM chain ID or one of \"total\", \"mainnet\", or \"testnet\". Use the `/chains` endpoint to get a list of supported chain IDs."
          required: true
          schema:
            type: "string"
          example: "43114"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RollingWindowMetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "getRollingWindowMetrics"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.getRollingWindowMetrics({
                metric: "txCount",
              });

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.getRollingWindowMetrics({
                metric: "txCount",
              });

              console.log(result);
            }

            run();
  "/v2/chains/{chainId}/teleporterMetrics/{metric}":
    get:
      tags:
        - "Chain Metrics"
      description: "Gets teleporter metrics for an EVM chain."
      operationId: "getTeleporterMetricsByChain"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which chain level teleporter metric to fetch."
          required: true
          schema: {"$ref": "#/components/schemas/TeleporterMetric"}
          example: "teleporterSourceTxnCount"
        - name: "chainId"
          in: "path"
          description: "A supported EVM chain ID or one of \"total\", \"mainnet\", or \"testnet\". Use the `/chains` endpoint to get a list of supported chain IDs."
          required: true
          schema:
            type: "string"
          example: "43114"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TeleporterChainMetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      deprecated: true
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "getTeleporterMetrics"
      servers:
        - url: "https://metrics.avax.network"
      x-speakeasy-ignore: true
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.getTeleporterMetrics({
                metric: "teleporterSourceTxnCount",
              });

              console.log(result);
            }

            run();
  "/v2/icm/timeseries":
    get:
      tags:
        - "Chain Metrics"
      summary: "Get ICM timeseries metrics"
      description: "Get historical ICM message counts with flexible grouping.\n\nUse filters (`srcBlockchainId`, `destBlockchainId`, `network`)  to select data, and the `groupBy` parameter for aggregation level.\n\n### Examples:\n\n  - **Specific pair**:   `?srcBlockchainId=...&destBlockchainId=...`\n\n  - **From one source (aggregated)**: `?srcBlockchainId=...`\n\n  - **From one source (by destination)**:   `?srcBlockchainId=...&groupBy=destBlockchainId`\n\n  - **To one destination (aggregated)**: `?destBlockchainId=...`\n\n  - **To one destination (by source)**:   `?destBlockchainId=...&groupBy=srcBlockchainId`\n\n  - **Network total**: `?network=mainnet`\n\n  - **Network breakdown**:   `?network=mainnet&groupBy=srcBlockchainId,destBlockchainId`."
      operationId: "getICMTimeseries"
      parameters:
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "srcBlockchainId"
          in: "query"
          description: "Query param for retrieving items for a specific source (initiating) blockchain id."
          required: false
          schema:
            type: "string"
        - name: "destBlockchainId"
          in: "query"
          description: "Query param for retrieving items for a specific destination (receiving) blockchain id."
          required: false
          schema:
            type: "string"
        - name: "timeInterval"
          in: "query"
          description: "Time interval granularity for data aggregation. Metrics\n    prefixed with \"cumulative\", \"max\", or \"avg\" only support timeInterval equal\n    to \"day\"."
          required: false
          schema: {"$ref": "#/components/schemas/TimeIntervalGranularity"}
          example: "day"
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160."
          required: false
          schema:
            type: "integer"
            maximum: 2160
            minimum: 1
            default: 100
          example: "10"
        - name: "groupBy"
          in: "query"
          description: "Group results by srcBlockchainId, destBlockchainId, or both (comma-separated)"
          required: false
          schema:
            type: "string"
            enum:
              - "srcBlockchainId"
              - "destBlockchainId"
              - "srcBlockchainId,destBlockchainId"
          example: "destBlockchainId"
        - name: "network"
          in: "query"
          description: "Either mainnet or testnet/fuji."
          required: false
          schema: {"$ref": "#/components/schemas/Network"}
          example: "mainnet"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ICMMetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "getICMTimeseries"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.getICMTimeseries({
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                timeInterval: "day",
                pageSize: 10,
                groupBy: "destBlockchainId",
                network: "mainnet",
              });

              console.log(result);
            }

            run();
  "/v2/icm/summary":
    get:
      tags:
        - "Chain Metrics"
      summary: "Get ICM summary metrics"
      description: "Get rolling window ICM message counts (last hour, day, month, 90 days, year, all time).\n\nUse filters (`srcBlockchainId`, `destBlockchainId`, `network`)  to select data, and the `groupBy` parameter for aggregation level.\n\n### Examples:\n\n  - **Specific pair**:   `?srcBlockchainId=...&destBlockchainId=...`\n\n  - **From one source (aggregated)**: `?srcBlockchainId=...`\n\n  - **From one source (by destination)**:   `?srcBlockchainId=...&groupBy=destBlockchainId`\n\n  - **To one destination (aggregated)**: `?destBlockchainId=...`\n\n  - **To one destination (by source)**:   `?destBlockchainId=...&groupBy=srcBlockchainId`\n\n  - **Network total**: `?network=mainnet`\n\n  - **Network breakdown**:   `?network=mainnet&groupBy=srcBlockchainId,destBlockchainId`."
      operationId: "getICMSummary"
      parameters:
        - name: "srcBlockchainId"
          in: "query"
          description: "Query param for retrieving items for a specific source (initiating) blockchain id."
          required: false
          schema:
            type: "string"
        - name: "destBlockchainId"
          in: "query"
          description: "Query param for retrieving items for a specific destination (receiving) blockchain id."
          required: false
          schema:
            type: "string"
        - name: "groupBy"
          in: "query"
          description: "Group results by srcBlockchainId, destBlockchainId, or both (comma-separated)"
          required: false
          schema:
            type: "string"
            enum:
              - "srcBlockchainId"
              - "destBlockchainId"
              - "srcBlockchainId,destBlockchainId"
          example: "destBlockchainId"
        - name: "network"
          in: "query"
          description: "Either mainnet or testnet/fuji."
          required: false
          schema: {"$ref": "#/components/schemas/Network"}
          example: "mainnet"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ICMRollingWindowMetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "getICMSummary"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.getICMSummary({
                groupBy: "destBlockchainId",
                network: "mainnet",
              });

              console.log(result);
            }

            run();
  "/v2/networks/{network}/metrics/{metric}":
    get:
      tags:
        - "Chain Metrics"
      summary: "Get staking metrics for a given subnet"
      description: "Gets staking metrics for a given subnet."
      operationId: "getStakingMetrics"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which network level metric to fetch."
          required: true
          schema: {"$ref": "#/components/schemas/NetworkMetric"}
          example: "validatorCount"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 2160."
          required: false
          schema:
            type: "integer"
            maximum: 2160
            minimum: 1
            default: 100
          example: "10"
        - name: "network"
          in: "path"
          description: "Either mainnet or testnet/fuji."
          required: true
          schema: {"$ref": "#/components/schemas/Network"}
          example: "mainnet"
        - name: "subnetId"
          in: "query"
          description: "The subnet ID to filter by. If not provided, then all subnets will be returned."
          required: false
          schema:
            default: "11111111111111111111111111111111LpoYY"
          example: "11111111111111111111111111111111LpoYY"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "small"
      x-speakeasy-group: "metrics.networks"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              network: "mainnet",
            });

            async function run() {
              const result = await avalanche.metrics.networks.getStakingMetrics({
                metric: "validatorCount",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              network: "mainnet",
            });

            async function run() {
              const result = await avalanche.metrics.networks.getStakingMetrics({
                metric: "validatorCount",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/validators/metrics/{metric}":
    get:
      tags:
        - "L1 Validator Metrics"
      summary: "Get given metric for all validators"
      description: "Get given metric's value for all validators."
      operationId: "getTotalL1ValidatorMetrics"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which network level metric to fetch for L1 validator."
          required: true
          schema:
            type: "string"
            enum:
              - "totalCumulativeFeesDaily"
              - "totalValidatorFeesDaily"
              - "totalPayingValidatorsDaily"
          example: "totalValidatorFeesDaily"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "listMetrics"
      x-speakeasy-group: "metrics.l1Validators"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.listMetrics({
                metric: "totalValidatorFeesDaily",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
              });

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.listMetrics({
                metric: "totalValidatorFeesDaily",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
              });

              console.log(result);
            }

            run();
  "/v2/validation/{l1ValidationId}/metrics/{metric}":
    get:
      tags:
        - "L1 Validator Metrics"
      summary: "Get metric values with given validationId and timestamp range"
      description: "Get given metric values for a given validationId with or without a timestamp range."
      operationId: "getMetricsByValidationId"
      parameters:
        - name: "l1ValidationId"
          in: "path"
          description: "The L1 Validator's validation ID to filter by"
          required: true
          schema:
            type: "string"
          example: "2YYCZGHjqnbw1MzQ5fGrTp3SjqUu8y1J1xeW4yuhdXe4LoUVVG"
        - name: "metric"
          in: "path"
          description: "Which metric to fetch for given L1 validation ID."
          required: true
          schema:
            type: "string"
            enum:
              - "validationCumulativeFeesDaily"
              - "validationFeesDaily"
          example: "validationFeesDaily"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "getMetricsByValidationId"
      x-speakeasy-group: "metrics.l1Validators"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsByValidationId({
                l1ValidationId: "2YYCZGHjqnbw1MzQ5fGrTp3SjqUu8y1J1xeW4yuhdXe4LoUVVG",
                metric: "validationFeesDaily",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
              });

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsByValidationId({
                l1ValidationId: "2YYCZGHjqnbw1MzQ5fGrTp3SjqUu8y1J1xeW4yuhdXe4LoUVVG",
                metric: "validationFeesDaily",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
              });

              console.log(result);
            }

            run();
  "/v2/validator/{nodeId}/metrics/{metric}":
    get:
      tags:
        - "L1 Validator Metrics"
      summary: "Get metric values with given nodeId and timestamp range"
      description: "Get given metric values for a given nodeId with or without a timestamp range."
      operationId: "getMetricsByNodeId"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which metric to fetch for given L1 validator(node) ID."
          required: true
          schema:
            type: "string"
            enum:
              - "perNodeCumulativeFeesPaid"
              - "perNodeDailyFeesPaid"
          example: "perNodeDailyFeesPaid"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "nodeId"
          in: "path"
          description: "A primary network (P or X chain) nodeId."
          required: true
          schema:
            type: "string"
          example: "NodeID-JQPadXEMWtRtJyXrisyDNWuXKSjSf9D36"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "getMetricsByNodeId"
      x-speakeasy-group: "metrics.l1Validators"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsByNodeId({
                metric: "perNodeDailyFeesPaid",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                nodeId: "NodeID-JQPadXEMWtRtJyXrisyDNWuXKSjSf9D36",
              });

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsByNodeId({
                metric: "perNodeDailyFeesPaid",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                nodeId: "NodeID-JQPadXEMWtRtJyXrisyDNWuXKSjSf9D36",
              });

              console.log(result);
            }

            run();
  "/v2/subnet/{subnetId}/metrics/{metric}":
    get:
      tags:
        - "L1 Validator Metrics"
      summary: "Get metric values with given subnetId and timestamp range"
      description: "Get given metric values for a given subnetId with or without a timestamp range."
      operationId: "getMetricsBySubnetId"
      parameters:
        - name: "metric"
          in: "path"
          description: "Which metric to fetch for given subnet ID."
          required: true
          schema:
            type: "string"
            enum:
              - "perSubnetDailyFeesPaid"
              - "perSubnetCumulativeFeesPaid"
              - "perSubnetPayingValidators"
          example: "perSubnetDailyFeesPaid"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "subnetId"
          in: "path"
          description: "The subnet ID to filter by."
          required: true
          schema:
            type: "string"
          example: "eYwmVU67LmSfZb1RwqCMhBYkFyG8ftxn6jAwqzFmxC9STBWLC"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/MetricsApiResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-speakeasy-name-override: "getMetricsBySubnetId"
      x-speakeasy-group: "metrics.l1Validators"
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsBySubnetId({
                metric: "perSubnetDailyFeesPaid",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                subnetId: "eYwmVU67LmSfZb1RwqCMhBYkFyG8ftxn6jAwqzFmxC9STBWLC",
              });

              console.log(result);
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.l1Validators.getMetricsBySubnetId({
                metric: "perSubnetDailyFeesPaid",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                subnetId: "eYwmVU67LmSfZb1RwqCMhBYkFyG8ftxn6jAwqzFmxC9STBWLC",
              });

              console.log(result);
            }

            run();
  "/v2/chains/{chainId}/contracts/{address}/nfts:listHolders":
    get:
      tags:
        - "Looking Glass"
      summary: "Get NFT holders by contract address"
      description: "Get list of NFT holders and number of NFTs held by contract address."
      operationId: "getNftHoldersByContractAddress"
      parameters:
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 5000."
          required: false
          schema:
            type: "integer"
            maximum: 5000
            minimum: 1
            default: 1000
          example: "10"
        - name: "chainId"
          in: "path"
          description: "A supported evm chain id. Use the `/chains` endpoint to get a list of supported chain ids."
          required: true
          schema:
            type: "string"
          example: "43114"
        - name: "address"
          in: "path"
          description: "Contract address on the relevant chain."
          required: true
          schema:
            type: "string"
          example: "0x7a420AEFF902AAa2c85a190D7B91Ce8BEFffFE14"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NftHoldersResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "large"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "listNftHolders"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.listNftHolders({
                pageSize: 10,
                address: "0x7a420AEFF902AAa2c85a190D7B91Ce8BEFffFE14",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.listNftHolders({
                pageSize: 10,
                address: "0x7a420AEFF902AAa2c85a190D7B91Ce8BEFffFE14",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/chains/{chainId}/contracts/{address}/balances":
    get:
      tags:
        - "Looking Glass"
      summary: "Get addresses by balance over time"
      description: "Get list of addresses and their latest balances that have held more than a certain threshold of a given token during the specified time frame."
      operationId: "getAddressesByBalanceOverTime"
      parameters:
        - name: "threshold"
          in: "query"
          description: "The minimum balance for which addresses should be considered."
          required: true
          schema:
            type: "string"
          example: "1000000"
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 5000."
          required: false
          schema:
            type: "integer"
            maximum: 5000
            minimum: 1
            default: 1000
          example: "10"
        - name: "chainId"
          in: "path"
          description: "A supported evm chain id. Use the `/chains` endpoint to get a list of supported chain ids."
          required: true
          schema:
            type: "string"
          example: "43114"
        - name: "address"
          in: "path"
          description: "Contract address on the relevant chain."
          required: true
          schema:
            type: "string"
          example: "0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LookingGlassResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "xl"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "listTokenHoldersAboveThreshold"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.listTokenHoldersAboveThreshold({
                threshold: "1000000",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                pageSize: 10,
                address: "0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche({
              chainId: "43114",
            });

            async function run() {
              const result = await avalanche.metrics.chains.listTokenHoldersAboveThreshold({
                threshold: "1000000",
                startTimestamp: 1689541049,
                endTimestamp: 1689800249,
                pageSize: 10,
                address: "0xB97EF9Ef8734C71904D8002F8b6Bc66Dd9c48a6E",
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/chains/43114/btcb/bridged:getAddresses":
    get:
      tags:
        - "Looking Glass"
      summary: "Get addresses by BTCb bridged balance"
      description: "Get list of addresses and their net bridged amounts that have bridged more than a certain threshold."
      operationId: "getAddressesByBtcbBridged"
      parameters:
        - name: "threshold"
          in: "query"
          description: "The minimum balance for which addresses should be considered."
          required: true
          schema:
            type: "string"
          example: "1000000"
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 5000."
          required: false
          schema:
            type: "integer"
            maximum: 5000
            minimum: 1
            default: 1000
          example: "10"
      responses:
        "200":
          description: "Successful response"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LookingGlassResponse"}
        "400":
          description: "Bad requests generally mean the client has passed invalid \n    or malformed parameters. Error messages in the response could help in \n    evaluating the error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequest"}
        "401":
          description: "When a client attempts to access resources that require \n    authorization credentials but the client lacks proper authentication \n    in the request, the server responds with 401."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Unauthorized"}
        "403":
          description: "When a client attempts to access resources with valid\n    credentials but doesn't have the privilege to perform that action, \n    the server responds with 403."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/Forbidden"}
        "404":
          description: "The error is mostly returned when the client requests\n    with either mistyped URL, or the passed resource is moved or deleted, \n    or the resource doesn't exist."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFound"}
        "429":
          description: "This error is returned when the client has sent too many,\n    and has hit the rate limit."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequests"}
        "500":
          description: "The error is a generic server side error that is \n    returned for any uncaught and unexpected issues on the server side. \n    This should be very rare, and you may reach out to us if the problem \n    persists for a longer duration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerError"}
        "502":
          description: "This is an internal error indicating invalid response \n      received by the client-facing proxy or gateway from the upstream server."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGateway"}
        "503":
          description: "The error is returned for certain routes on a particular\n    Subnet. This indicates an internal problem with our Subnet node, and may \n    not necessarily mean the Subnet is down or affected."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ServiceUnavailable"}
      x-execution-weight: "large"
      x-speakeasy-group: "metrics.chains"
      x-speakeasy-name-override: "listBTCbBridgersAboveThreshold"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "pageToken", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.nextPageToken"}}
      servers:
        - url: "https://metrics.avax.network"
      x-codeSamples:
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/chainkit";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.listBTCbBridgersAboveThreshold({
                threshold: "1000000",
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
        - lang: javascript
          label: JavaScript
          source: |-
            import { Avalanche } from "@avalanche-sdk/devtools";

            const avalanche = new Avalanche();

            async function run() {
              const result = await avalanche.metrics.chains.listBTCbBridgersAboveThreshold({
                threshold: "1000000",
                pageSize: 10,
              });

              for await (const page of result) {
                console.log(page);
              }
            }

            run();
  "/v2/subnets/{subnetId}/validators:getAddresses":
    get:
      tags:
        - "Looking Glass"
      summary: "Get addresses running validators during a given time frame"
      description: "Get list of addresses and AddValidatorTx timestamps set to receive awards for validation periods during the specified time frame."
      operationId: "getValidatorsByDateRange"
      parameters:
        - name: "startTimestamp"
          in: "query"
          description: "Query param for retrieving items after a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689541049
        - name: "endTimestamp"
          in: "query"
          description: "Query param for retrieving items before a specific timestamp."
          required: false
          schema:
            type: "integer"
            minimum: 0
          example: 1689800249
        - name: "pageToken"
          in: "query"
          description: "A page token, received from a previous list call. Provide this to retrieve the subsequent page."
          required: false
          schema:
            type: "string"
        - name: "pageSize"
          in: "query"
          description: "The maximum number of items to return. The minimum page size is 1. The maximum pageSize is 5000."
          required: false
          schema:
            type: "integer"
            maximum: 5000
            minimum: 1
[...]
